{{define "body"}}
<h2>Editing {{.Entry.Date}}</h2>
<form action="/entries/{{.Entry.Date}}" method="POST" class="form">
  <div class="form-group" id="entry-body">
    <textarea name="body" rows="20" cols="80" class="form-control">{{.Entry.Body}}</textarea>
    <p class="pull-right"><span class="char-count">{{charCount .Entry.Body}}</span> characters</p>
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-default">
  </div>
</form>
<script>
  jQuery(function ($) {
    var $entryBody, $textarea, $charCount;
    $entryBody = $('#entry-body').on('keyup', function () {
      var count = $textarea.val().length;
      $charCount.text(count);
    });
    $textarea = $entryBody.find('textarea');
    $charCount = $entryBody.find('.char-count');
  });
</script>
{{end}}
