/* entry index */
.mp-entry-index {
  padding-left: 0;
}
.mp-entry-index li {
  display: inline;
  font-size: 12px;
  padding-right: 4px;
}
.mp-entry-index li a,
.mp-entry-index li span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.mp-entry-index li a {
  background: #cde;
}
.mp-date-active,
.mp-entry-index li a:hover {
  background: #789;
  text-decoration: none;
}
.mp-date-inactive {
  background: #eee;
}

/* entry */
.mp-edit-button {
  margin-top: -4px;
  margin-left: 10px;
}

/* entry form */
#mp-entry-status {
  padding-left: 12px;
}
#mp-entry-status .fa-check {
  color: #1d9c73;
}
#mp-entry-status .fa-pencil {
  color: #d74a38;
}

/* footer */
.mp-footer {
  margin: 40px 0 20px;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}
