<ul class="mp-entry-index">
  {{if .PreviousMonth}}
    <li><a href="/entries/{{.PreviousMonth}}"><i class="fa fa-arrow-left"></i></a></li>
  {{end}}
  {{$entry := .Entry}}
  {{$today := .Today}}
  {{range .EntryDates}}
    {{if and (not .HasEntry) (ne .Date $today)}}
      <li><span class="mp-date-inactive">{{extractDay .Date}}</span></li>
    {{else if .IsFuture}}
      <li><span class="mp-date-inactive">{{extractDay .Date}}</span></li>
    {{else if eq .Date $entry.Date}}
      <li><span class="mp-date-active">{{extractDay .Date}}</span></li>
    {{else}}
      <li><a href="/entries/{{.Date}}">{{extractDay .Date}}</a></li>
    {{end}}
  {{end}}
  {{if .NextMonth}}
    <li><a href="/entries/{{.NextMonth}}"><i class="fa fa-arrow-right"></i></a></li>
  {{end}}
</ul>
