<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Morning Pages</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mp-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Morning Pages</a>
        </div>
        {{if .CurrentUser}}
          <div class="collapse navbar-collapse" id="mp-navbar-collapse">
            <p class="navbar-text">Hi, {{.CurrentUser.Name}}!</p>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/auth/logout">Log out</a></li>
            </ul>
          </div>
        {{end}}
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ yield }}
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="mp-footer">
          <p>2,000 characters * 365 days = 730,000 characters!</p>
        </div>
      </div>
    </footer>
  </body>
</html>
