<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Morning Pages</title>
    <meta name="viewport" content="width=device-width, initial-sclale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
      .mp-footer {
        border-top: 1px solid #eeeeee;
        padding-top: 20px;
        margin: 40px 0 40px;
      }
    </style>
  </head>
  <body>
    <header class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Morning Pages</a>
        </div>
        {{if .CurrentUser}}
          <p class="navbar-text">Hi, {{.CurrentUser.Name}}!</p>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/auth/logout">Log out</a></li>
          </ul>
        {{end}}
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ yield }}
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="mp-footer">
          <p>2,000 characters * 365 days = 730,000 characters!</p>
        </div>
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
