<ul class="mp-entry-index">
  {{$entry := .Entry}}
  {{.HasEntry}}
  {{range .EntryDates}}
    {{if eq .Date $entry.Date}}
      <li><span class="mp-date-active">{{extractDay .Date}}</span></li>
    {{else if .IsFuture}}
      <li><span class="mp-date-future">{{extractDay .Date}}</span></li>
    {{else if not .HasEntry}}
      <li><span class="mp-date-future">{{extractDay .Date}}</span></li>
    {{else}}
      <li><a href="/entries/{{.Date}}">{{extractDay .Date}}</a></li>
    {{end}}
  {{end}}
</ul>

<h2>{{.Entry.Date}}</h2>
<p>[<a href="/entries/{{.Entry.Date}}/edit">edit</a>]</p>
<div>{{.Entry.Body | linebreak | unsafe}}</div>
<p class="pull-right"><span class="char-count">{{charCount .Entry.Body}}</span> characters</p>
